node_modules
package-lock.json
# Node.js app
npm-debug.log
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.backup
*.log
crash.log

# Terraform Provider Binaries (prevents .exe or large files)
terraform/.terraform/providers/**/terraform-provider-*

# OS generated
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs and temp
*.log
*.tmp
*.swp
*.exe

multicloud_cicd_pipeline.drawio